@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://cdn.jsdelivr.net/npm/formbase@12.0.1/dist/formbase.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #eee;
  --black: #100e17;
  --black-light: #3f3e45;
  --yellow: #e0c879;
  --grey: #c8c8c8;
  --font: "Nunito", sans-serif;
  --water: rgba(255, 255, 255, 0.1);
}

* {
  transition: all 1s ease;
}

html {
  font-size: 16px;
}

body {
  color: var(--white);
  background: var(--black);
  font: 1rem var(--font);
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.container--full-height {
  width: 100%;
  padding: 0 1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

h2 {
  line-height: 1;
  margin: 1.5rem 0 .75rem;
}

.input {
  height: 2.5rem;
  padding: 0 0.6rem;
  line-height: 1;
  border-radius: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input[disabled] {
  border-color: var(--grey);
  background-color: var(--white);
  box-shadow: none;
  cursor: not-allowed;
  color: var(--grey);
}

.input .fa {
  margin: 0 0.5rem 0 0;
}

.hidden {
  display: none;
}

h1 {
  line-height: 1;
}

.banner {
  width: 100%;
  border-radius: .5rem;
  display: block;
  margin: 1rem 0;
}

.currentUser {
  margin: 0 0 1rem;
  width: 100%;
  max-width: 10rem;
}

.currentUser p {
  margin: 0 0 0.25rem;
}

.currentUser img {
  border-radius: 0.5rem;
}

.user__name {
  margin-bottom: 0.5rem;
  padding: 0;
  text-transform: capitalize;
}

.user__thumbnail {
  background: var(--water);
  margin: 0 0 1rem;
}

.user__thumbnail img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.buttons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.buttons .input {
  margin-right: 0.5rem;
}

.status__text {
  padding: 1rem;
  margin: 0 0 1rem;
  text-align: center;
  background: var(--water);
}

.status__text--success {
  color: green;
}

.status__text--warning {
  color: red;
}

.human {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.human__thumbnail {
  margin: 0 0 1rem;
  /* margin: 0 auto 1rem; */
}

.human__thumbnail img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  max-height: 15rem;
  object-fit: cover;
  height: 100%;
}

.human__name,
.human__age,
.human__message,
.human__phone {
  display: flex;
  align-items: center;
  align-content: center;
  line-height: 1.25;
  margin: 0 0 0.5rem;
}

.human__name span,
.human__age span,
.human__message span,
.human__phone span {
  font-size: 0.75rem;
  min-width: 0.5rem;
  max-width: 0.5rem;
  margin: 0 0.75rem 0 0;
}

.human__message {
  margin: 0;
}

.yourHumans,
.allHumans {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.allHumans {
  padding-bottom: 1rem;
}

.navigation {
  padding: 1rem 0;
  background: var(--water);
}

.navigation__wrap {
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  display: flex;
  align-items: center;
}

.navigation__logo__text {
  margin: 0 0 0 .5rem;
}

.navigation__logo__thumbnail {
  display: block;
  max-width: 2rem;
}

.navigation ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation ul {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--black-light);
}

@media screen and (min-width: 30rem) {
  .container {
    max-width: 20rem;
    margin: auto;
  }
}
@media screen and (min-width: 40rem) {
  .container {
    max-width: 30rem;
  }
}
@media screen and (min-width: 50rem) {
  .container {
    max-width: 40rem;
  }
  .yourHumans,
  .allHumans {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 60rem) {
  .container {
    max-width: 50rem;
  }
}
@media screen and (min-width: 70rem) {
  .container {
    max-width: 60rem;
  }
  .yourHumans,
  .allHumans {
    grid-template-columns: repeat(3, 1fr);
  }
}
