@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://cdn.jsdelivr.net/npm/formbase@12.0.1/dist/formbase.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("./navigation.css");
@import url("./forms.css");
@import url("./humans.css");
@import url("./settings.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #eee;
  --black: #100e17;
  --black-light: #3f3e45;
  --yellow: #e0c879;
  --grey: #c8c8c8;
  --font: "Nunito", sans-serif;
  --water: rgba(255, 255, 255, 0.1);
}

* {
  transition: all 1s ease;
}

html {
  font-size: 16px;
}

body {
  color: var(--white);
  background: var(--black);
  font: 1rem var(--font);
}

a {
  text-decoration: none;
  color: var(--yellow);
}

h1 {
  line-height: 1;
}

h2 {
  line-height: 1;
  margin: 1.5rem 0 0.75rem;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.container--full-height {
  width: 100%;
  padding: 0 1rem;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.banner {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--black-light);
}

.footer__text {
  font-style: italic;
}

.jumbotron {
  margin: 2rem 0 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 30rem) {
  .container {
    max-width: 20rem;
    margin: auto;
  }
}
@media screen and (min-width: 40rem) {
  .container {
    max-width: 30rem;
  }
}
@media screen and (min-width: 50rem) {
  .container {
    max-width: 40rem;
  }
}
@media screen and (min-width: 60rem) {
  .container {
    max-width: 50rem;
  }
  .jumbotron {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 70rem) {
  .container {
    max-width: 60rem;
  }
}
