@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: #fff;
  background: #000;
  font-family: "Rubik", sans-serif;
  background-color: #000;
  background-image: url('https://media.gettyimages.com/photos/punjabi-singer-babbu-maan-poses-during-an-exclusive-interview-with-ht-picture-id950340888?s=612x612');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  z-index: -1;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.9);
  }
}

.text-success {
  color: #1db954 !important;
}

.app {
  margin: 1rem 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding: 0 1.25rem;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 600px) {
    margin: 1rem auto;
    min-width: 35rem;
    max-width: 35rem;
  }
}

.info {
  text-align: center;
  margin-bottom: 1rem;

  &__title {
    margin: 0 0 0.5rem;
    padding: 0;
    font-size: 2rem;
  }

  &__subtitle {
    margin: 0 auto;
    padding: 0 1rem;
    min-width: 15rem;
    max-width: 30rem;
    width: 100%;
    line-height: 1.35;
  }
}

.loading {
  font-style: italic;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.active {
  animation: glowing 5000ms infinite;
}

.play,
.pause {
  padding: 0.75rem;
  transition: all 0.4s ease;

  .fa {
    min-width: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    max-height: 1rem;
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }

  &:hover,
  &:active {
    box-shadow: 0 0 2rem 0.25rem rgba(255, 255, 255, 0.75);
  }

  &:focus {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 0 2rem 0.25rem rgba(255, 255, 255, 0.75);
  }
}

.disabled {
  cursor: not-allowed;
  box-shadow: none !important;
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23111111' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23111111' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");

  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  p {
    min-width: auto;
    max-width: auto;
  }

  a {
    &:link {
      color: #1db954;
    }
  }
}

.station {
  margin: 1rem 1.25rem;
  // padding: 0 1rem;
  border: 0;

  .fa {
    &--link {
      font-size: 0.5rem;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin: 0 0.5rem 0 0;
    font-weight: 400;
  }

  &__subtitle {
    color: darken(#7798ab, 15%);
  }

  &--active {
    padding: 1rem 1.25rem;
    margin: 0;
    // margin: 0 1.25rem;
    background-color: #111111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23111111'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23222222' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23222222' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23333333' stroke-width='10' stroke-miterlimit='10' stroke-opacity='.2'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='.2' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    @media screen and (min-width: 600px) {
      // margin: 0 1.25rem;
      border: 0;
      border-radius: 1rem;
    }
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -1rem rgba(255, 255, 255, 0.5);
  }

  40% {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
  }

  60% {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 -1rem rgba(255, 255, 255, 0.5);
  }
}
