@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --white-dark: #ddd;
  --primary: #006400;
  --secondary: #ffac33;
  --secondary-dark: #cc8a28;
  --font-stack: Nunito, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: var(--font-stack);
}
