@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

#app {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background 1s ease;
}

.btn {
  right: 1rem;
  bottom: 1rem;
}

* {
  transition: all 1s ease;
}
