:root {
  --color-primary: black;
  --color-secondary: white;
  --color-tertiary: #87e023;
  --color-primary-light: rgba(10,10,10,0.5);
}

@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i';

html {
  font-size: 16px;
}

body {
  padding: 1rem 1rem 0;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--color-tertiary);
  background: var(--color-primary);
  max-width: 60rem;
  margin: auto;
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-tertiary);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.navigation {
  margin: 0 0 1.75rem;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.navigation li a:focus,
.navigation li a:active {
  color: var(--color-secondary);
}

.card__title .fa,
.card__date .fa,
.card__source .fa {
  padding-right: 0.5rem;
}

.logo {
  margin: 0 0 1.25rem;
}

.card {
  margin: 0 0 1.75rem;
}

.card__title {
  margin: 0;
}

.card__link {
  display: block;
}

.card__link:hover,
.card__link:active {
  color: var(--color-secondary);
}

.card__image {
  margin: 0 0 1rem;
  border: 0.25rem solid var(--color-tertiary);
  background: var(--color-primary-light);
}

.card__source {
  display: block;
}

.card__date {
  display: block;
  margin: 0 0 1rem;
}

.footer {
  margin: 0;
  padding: 2rem;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
}

.footer a {
  color: var(--color-primary);
}

.welcome {
  margin: 0 0 2rem;
}

.welcome img {
  width: 100%;
}

/* W3C: Skip to Content */
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus, a.skip-main:active {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid var(--color-tertiary);
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}