@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Nunito", serif;
}

#form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f723a4;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1fr;
  grid-template-areas: "language age" "sorting range" "button button";
}

#language {
  grid-area: language;
}

#age {
  grid-area: age;
}

#sorting {
  grid-area: sorting;
}

#range {
  grid-area: range;
}

select,
button {
  width: 100%;
}

button {
  grid-area: button;
}

#heading {
  margin: 10.5rem 1rem 1rem;
  text-align: center;
  line-height: 1;
  color: #f723a4;
}

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #f723a4;
}

#main p {
  color: white;
  padding: 1rem;
  text-align: center;
}

iframe {
  min-height: 30rem;
  margin-bottom: 1rem;
}

iframe:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 75rem) {
  #form {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "language age sorting range button";
    align-items: center;
  }
  #heading {
    margin: 5rem 1rem 1rem;
  }
}
